## BANCO DE DADOS - SUPABASE
VITE_SUPABASE_URL = https://ID-PROJECT.supabase.co
VITE_SUPABASE_ANON_KEY = ey....
VITE_SUPABASE_SERVICE_KEY = sb_secret....

## AUTENTICAÇÃO - MKAUTH
VITE_MKAUTH_URL = http://123.45.678.910
VITE_MKAUTH_CLIENT_ID = Client_Id_123...
VITE_MKAUTH_SECRET = Client_Secret_123...

## API EVOLUTION
VITE_EVOLUTION_URL = https://URL-API-EVOLUTION.com
VITE_EVOLUTION_KEY = EVOLUTION_KEY_123...