VITE_SUPABASE_URL=https://ID-PROJECT.supabase.co
VITE_SUPABASE_ANON_KEY=ey....
VITE_SUPABASE_SERVICE_KEY=sb_secret....

VITE_EVOLUTION_URL=https://URL-API-EVOLUTION.com
VITE_EVOLUTION_KEY=EVOLUTION_KEY_123...

VITE_WEBHOOK_URL=https://SEU-CODESPACE-3001.app.github.dev
